.center {
  text-align: center;
}

#contributors-page-title {
  margin-bottom: 0;
}

#credits-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em;
}

/* colour managed in themes.css */
.credit-section {
  flex: 1 0 12em;
  border-radius: 5px;
  padding: 1em;
}
.credit-section > p {
  margin: 0.1em;
}
.credit-section > h3 {
  margin: 0.1em;
  font-size: 1.4em;
}