/* stolen from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol lol */

.collapsible {
  border-radius: 5px;
  cursor: pointer;
  padding: 0.2em 1em;
  width: 100%;
  outline: none;
  font-size: 1.1em;
  text-align: left;

  margin-top: 0.5em;
}
.collapsible::after {
  content: "\25BC";
  float: right;
  margin-left: 5px;
}
.collapsible-active::after { content: "\25B2"; }
.collapsible-active { border-radius: 5px 5px 0 0; }