#left-column, #right-column {
  max-height: 100%;
  margin-bottom: 2em;
}

#game-controls {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  padding: 0 0.5em;
}
.game-control-button {
  display: flex;
  flex: 1 0 4em;
  height: 4em;
  padding: 1em;
  align-items: center;
  justify-content: center;
}
.game-control-button.active {
  border: 3px solid var(--theme-select-1);
  background-color: var(--theme-select-2);
}
.game-control-button > img {
  height: 2.5em;
  width: 2.5em;
}

#inv-list {
  font-size: 18px;
  text-align: center;
}


#resource-cards {
  display: grid;
  gap: 3px;
  grid: 1fr 1fr 1fr / 1fr 1fr;

  margin-top: 1em;
}


.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 5px;

  text-align: center;
  align-items: center;

  margin: 0.1em;
}
.resource-card.green-pulse {
  animation: green-pulse 1s;
}
.resource-card.red-pulse {
  animation: red-pulse 1s;
}
.resource-card > img {
  width: 2.5em;
  height: 2.5em;
  padding: 0.2em;
}
.resource-card > .trade-amount-selection-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.resource-card > .trade-amount-selection-div > .trade-amount-input {
  width: 2em;
  height: 2em;
  background-color: #0000;
  border: 3px solid #bb9662;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  font-size: 1em;
}
.resource-card > .resource {
  text-align: right;
}

#development-card-toggle:hover {
  cursor: pointer;
  user-select: none;
}



#turn-controls {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#trade-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.25em;
  border-radius: 0 0 5px 5px;

  height: max-content;
  padding: 0.25em;
}
#trade-panel > * {
  margin: 0;
}
#trade-interface {
  display: grid;
  grid: 1fr / 2fr 0.75fr 2fr;
  text-align: center;
}
#trade-interface > div.trade-icon {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#trade-interface > div.trade-icon > img {
  width: 100%;
}
.trade-column {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.trade-amount-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3px;
}
.trade-amount-div > img {
  width: 2.5em;
}
.trade-amount-div > input {
  background-color: #0000;
  width: 33%;
  text-align: center;
  border: 2px solid #47f;
  border-radius: 5px;
  transition: 500ms;
  font-size: 1.2em;
}
.trade-amount-div > input:disabled {
  border: 2px solid transparent;
  color: var(--theme-text);
}
.trade-amount-div-right > img { order: 2; }


#lobby-player-list {
  display: flex;
  flex-direction: column;
}

#lobby-chat-container {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#lobby-chat-messages {
  flex: 1 0 32vh;
  overflow-y: scroll;
  word-wrap: anywhere;
}

#lobby-chat-messages > div {
  margin: 0;
  padding: 1% 2.5%;
}
#lobby-chat-messages > div > .chat-message-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#lobby-chat-messages > div > .chat-message-content > p {
  margin: 0;
  padding: 0;
}
#lobby-chat-messages > div > .chat-message-content > .chat-message-dice {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  justify-self: right;
}
#lobby-chat-messages > div > .chat-message-content > .chat-message-dice > img {
  width: 1.9em;
  height: 1.9em;
}
.chat-podium {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2px;
  width: 95%;
  margin: 3px 0;
  font-size: 0.8em;
}
.chat-podium > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.2rem;
}
.chat-podium > div > * { padding: 0; margin: 2px; }
.chat-podium-1 { background-color: #ffd700; }
.chat-podium-2 { background-color: #dbdbdb; }
.chat-podium-3 { background-color: #d09664; }

.attention-pls {
  animation: give-me-attention 2s infinite;
}