body {
  background-image: url("~@/images/background-min.png");
  background-attachment: fixed;
  background-position: center;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Roboto', 'Arial', sans-serif;
  word-wrap: anywhere;
}

main {
  margin: 0 8%;
  padding: 2em 5vw 4em;
  border-radius: 5px;
  overflow-x: hidden;
}
@media only screen and (max-width: 800px) {
  main { margin: 0; }
}

.title-container {
  display: grid;
  text-align: center;

  --title-height: max(2.5vw, 1.8em);
}
.title-container-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.title-container-links {
  display: flex;
  justify-content: center;
  column-gap: 1.5em;
  flex-wrap: wrap;
}
.page-title {
  font-weight: 900;
  font-size: var(--title-height);
  margin: 0.5rem;
}



input {
  border: none;
  border-bottom: 2px solid #1262e7;
  background-color: transparent;
  transition: 500ms;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #6ba4ff;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

code, pre {
  border-radius: 3px;
  font-family: 'Courier New', 'Courier', 'Consolas', monospace
}
code {
  padding: 0.25em;
}
pre {
  padding: 1em;
}


button {
  padding: 0.4em;
  cursor: pointer;
  color: var(--theme-text);
  font-size: 16px;
  background-color: var(--theme-bg);
  border: 2px solid var(--theme-border);
}
button:hover { background-color: var(--theme-bg-2); }
button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
  background-color: var(--theme-bg-3);
}
button.red-button {
  background-color: var(--theme-red-button-bg);
  border: 2px solid var(--theme-red-button-border);
  color: var(--theme-text);
}
button.red-button:hover { background-color: var(--theme-red-button-hover); }


select {
  padding: 0 0.5em;
  margin: 0.4em 0;
  cursor: pointer;
  color: var(--theme-text);
  font-size: 0.8rem;
  background-color: var(--theme-bg);
  border: 2px solid var(--theme-border);
}
select:hover { background-color: var(--theme-bg-2); }
select:disabled {
  opacity: 0.75;
  cursor: not-allowed;
  background-color: var(--theme-bg-3);
}


a[target="_blank"]::after {
  display: inline-block;
  content: "";
  background-image: url("~@/images/icons/link.svg");
  background-size: 1em;
  height: 1em;
  width: 1em;
}