html {
    height: 100%;
}

body {
    background-image: url("images/background.png");
    font-family: Trebuchet MS;
}

.colour-button {
    position: static;
    border: 2px solid rgb(0, 0, 0);
    color: white; /* White text */
    width: 72px;
    height: 64px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 25%;
}

main {
    margin: 0 20%;
    padding: 0 5em 5em;

    background-color: #fff;
    border-radius: 5px;
}

#home-title {
    padding-top: 5%;
    text-align: center;
    font-weight: 900;
    font-size: 8vh;
}

input {
    border: none;
    border-bottom: 2px solid #1262e7;
    transition: 500ms;
}
input:focus {
    outline: none;
    border-bottom: 2px solid #6ba4ff;
}

.single-line-input {
    display: flex;
    flex-direction: row;
}

.single-line-input input {
    padding: 12px 20px;
    margin: 0.2em;
    flex-grow: 5;
    flex-basis: 0;
}

.single-line-input button {
    padding: 8px;
    margin: 0.2em;
    flex-grow: 1;
    flex-basis: 0;
}


.row-layout {
    display: flex;
    margin: 0 -2em;
    flex-wrap: wrap;
}
.column-layout {
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2em;
}

#lobby-player-list {
    display: flex;
    flex-direction: column;
}

.lobby-player-list-entry {
    text-align: center;
    background-color: #dfdfdf;
    margin-top: 0.2em;
    padding: 0.6em;
    border-radius: 5px;
}

#leave-lobby {
    padding: 1%;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border: 2px solid rgb(124, 124, 124);
    font-size: 16px;
}

#leave-lobby img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}