.center {
  text-align: center;
}

#contributors-page-title {
  margin-bottom: 0;
}

#credits-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin: 2em;
}

/* colour managed in themes.css */
.credit-section {
  position: relative;
  flex: 1 0 12em;
  border-radius: 5px;
  padding: 1em;
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}
.credit-section > p {
  margin: 0.1em;
}
.credit-section > h3 {
  margin: 0.1em;
  font-size: 1.4em;
}

.contribution-percentage {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -1.5rem;
  right: -1.5rem;

  box-shadow: -5px 5px #0005;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  cursor: default;
  user-select: none;
  font-size: 1.2em;
  word-wrap: normal;

  border-radius: 50%;
  padding: 1em;
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}
.contribution-percentage::before {
  content: "approx.";
  font-size: 0.6em;
}