@keyframes give-me-attention {
  0% {
    border: 3px solid var(--theme-game-display-1);
    background-color: var(--theme-game-display-2);
  }
  50% {
    border: 3px solid var(--theme-game-display-attention-1);
    background-color: var(--theme-game-display-attention-2);
  }
  100% {
    border: 3px solid var(--theme-game-display-1);
    background-color: var(--theme-game-display-2);
  }
}