#lobby-playing {
  display: flex;
  flex-direction: column;
}

#turn-data-display {
  display: flex;
  flex-direction: row;

  gap: 0.25em;
}
#turn-data-display > *:first-child {
  flex-grow: 3;
}
#turn-data-display > div {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
  padding: 0.5em 0.25em;
  border-radius: 3px;
}
#turn-data-display > div > * {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#game-canvas {
  width: 100%;
  min-width: 320px;
  justify-self: center;
}