.button-group {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.3em;
}
.colour-button {
  border: 2px solid rgb(0, 0, 0);
  width: 4rem;
  height: 4rem;
  color: white;
  text-align: center;
}
.colour-button:disabled {
  font-size: 0;
}
.colour-button:disabled::after {
  content: "✖";
  font-size: 1.5rem;
}

#lobby-playing {
  display: flex;
  flex-direction: column;
}

#turn-data-display {
  display: flex;
  flex-direction: row;

  gap: 0.25em;
}
#turn-data-display > div {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0.5em 0.25em;
  border: 3px solid #bb9662;
  background-color: #e4c18e;
  border-radius: 3px;
}
#turn-data-display > div > * {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#game-canvas {
  width: 100%;
  min-width: 350px;
  justify-self: center;
}