#left-column,#right-column {
  max-height: 100%;
}


#game-controls {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  padding: 0 0.5em;
}
.game-control-button {
  display: flex;
  flex: 1 0 4em;
  height: 4em;
  padding: 1em;
  align-items: center;
  justify-content: center;
}
.game-control-button > img {
  height: 2.5em;
  width: 2.5em;
}

#inv-list {
  font-size: 18px;
  text-align: center;
}


#resource-cards {
  display: grid;
  gap: 3px;
  grid: 1fr 1fr 1fr / 1fr 1fr;

  margin-top: 1em;
}


.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;
  align-items: center;

  margin: 0.1em;
}

.resource-card > img {
  width: 2.5em;
  height: 2.5em;
}
.resource-card > .trade-amount-selection-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.resource-card > .trade-amount-selection-div > .trade-amount-input {
  width: 2em;
  height: 2em;
  background-color: #0000;
  border: 3px solid #bb9662;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  font-size: 1em;
}
.resource-card > .resource {
  text-align: right;
}

#development-card-toggle {
  border: 3px solid #c4b878;
  background-color: #faeb96;
}
#development-card-toggle:hover {
  cursor: pointer;
  user-select: none;
}




.resource-card,#trade-panel {
  border: 3px solid #bb9662;
  background-color: #e4c18e;
  padding: 0.2em;
  border-radius: 5px;
}



#turn-controls {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
#trade-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 10em;
  height: max-content;
  padding: 0.25em;
}
#trade-panel > * {
  margin: 0;
}
#trade-interface {
  display: grid;
  grid: 1fr / 3fr 1fr 3fr;
  text-align: center;
}
#trade-interface > div.trade-icon {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#trade-interface > div.trade-icon > img {
  width: 100%;
}


#lobby-player-list {
  display: flex;
  flex-direction: column;
}

#lobby-chat-container {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#lobby-chat-messages {
  flex: 1 0 32vh;
  overflow-y: scroll;
  word-wrap: anywhere;
}

#lobby-chat-messages > div {
  margin: 0;
  padding: 1% 2.5%;
}
#lobby-chat-messages > div > .chat-message-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#lobby-chat-messages > div > .chat-message-content > p {
  margin: 0;
  padding: 0;
}
#lobby-chat-messages > div > .chat-message-content > .chat-message-dice {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  justify-self: right;
}
#lobby-chat-messages > div > .chat-message-content > .chat-message-dice > img {
  width: 1.9em;
  height: 1.9em;
}

#lobby-chat-messages > div:nth-of-type(odd) {
  background-color: #dfdfdf;
}
#lobby-chat-messages > div:nth-of-type(even) {
  background-color: #efefef;
}