#left-column,#right-column {
  display: flex;
  flex-direction: column;
}

#resource-cards {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  flex-wrap: wrap;
  gap: 3px;
}

.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;

  border: 3px solid #bb9662;
  background-color: #e4c18e;

  width: 100%;
  padding: 0.2em;
  margin: 0.1em;
  border-radius: 5px;
}

.resource-card > .resource {
  text-align: right;
}
.resource-card > .resource > .count {
  font-weight: lighter;
}

.resource-card > img {
  width: 3em;
  height: 3em;
}


#lobby-player-list {
  display: flex;
  flex-direction: column;
}

#lobby-chat-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 0;

  max-height: 50vh;
}

#lobby-chat-messages {
  overflow-y: scroll;
  word-wrap: anywhere;
  height: 100%;
}

#lobby-chat-messages div {
  margin: 0;
  padding: 1% 2.5%;
}
#lobby-chat-messages div p {
  margin: 0;
  padding: 0;
}

#lobby-chat-messages > div:nth-of-type(odd) {
  background-color: #dfdfdf;
}
#lobby-chat-messages > div:nth-of-type(even) {
  background-color: #efefef;
}