#left-column,#right-column {
  max-height: 100%;
}


#game-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

#inv-list {
  font-size: 18px;
  text-align: center;
}


#resource-cards {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  flex-wrap: wrap;
  gap: 3px;
}

.resource-card {
  flex: 1 0 42%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;


  text-align: center;

  border: 3px solid #bb9662;
  background-color: #e4c18e;

  padding: 0.2em;
  margin: 0.1em;
  border-radius: 5px;
}

.resource-card > .resource {
  text-align: right;
}
.resource-card > .resource > .count {
  font-weight: lighter;
}

.resource-card > img {
  width: 3em;
  height: 3em;
}

#development-card-toggle {
  border: 3px solid #4f65c5;
  background-color: #94a4eb;
}
#development-card-toggle:hover {
  cursor: pointer;
  user-select: none;
}




#turn-controls {
  display: flex;
  flex-direction: column;
}


#lobby-player-list {
  display: flex;
  flex-direction: column;
}

#lobby-chat-container {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  margin: 0;
}

#lobby-chat-messages {
  flex: 1 0 32vh;
  overflow-y: scroll;
  word-wrap: anywhere;
}

#lobby-chat-messages div {
  margin: 0;
  padding: 1% 2.5%;
}
#lobby-chat-messages div p {
  margin: 0;
  padding: 0;
}

#lobby-chat-messages > div:nth-of-type(odd) {
  background-color: #dfdfdf;
}
#lobby-chat-messages > div:nth-of-type(even) {
  background-color: #efefef;
}