body {
  background-image: url("/images/background-min.png");
  background-attachment: fixed;
  background-position: center;
  font-family: Trebuchet MS;
}

main {
  margin: 0 15%;
  padding: 2em 5vw 4em;

  background-color: #fff;
  border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  main { margin: 0; }
}


input {
  border: none;
  border-bottom: 2px solid #1262e7;
  transition: 500ms;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #6ba4ff;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: 'Consolas', monospace;
  padding: 0 3px;
}


button {
  padding: 0.4em;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  border: 2px solid #7c7c7c;
  font-size: 16px;
}
button:hover {
  background-color: #f0f0f0;
}
button:disabled {
  background-color: #aaaaaa;
  cursor: not-allowed;
}

a {
  color: #1262e7;
}
a:hover {
  color: #6ba4ff;
}
a[target="_blank"]::after {
  display: inline-block;
  content: "";
  background-image: url("/images/icons/link.svg");
  background-size: 1em;
  height: 1em;
  width: 1em;
}