.row-layout {
  display: flex;
  margin: 0 -2em;
  flex-wrap: wrap;
}
.column-layout {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 2em;
}

.flex-layout-3col-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -1%;
}
.flex-layout-3col-grid > * {
  flex-grow: 1;
  flex-basis: 28%;
  margin-left: 1%;
}

.single-line-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 1em -1em;
}
.single-line-layout > * {
  margin: 0 0.5em;
}
.single-line-layout button {
  height: 2.5em;
  padding: 0.15em 0.35em;
}