#left-column {
  display: flex;
  flex-direction: column;
}

#resource-cards {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  flex-wrap: wrap;
  gap: 3px;
}

.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  text-align: center;

  border: 3px solid #bb9662;
  background-color: #e4c18e;

  width: 100%;
  padding: 0.2em;
  margin: 0.1em;
  border-radius: 5px;
}

.resource-card > h3 {
  text-align: right;
}
.resource-card > img {
  width: 3em;
  height: 3em;
}