html {
    height: 100%;
    --chat-sidebar-width: 10%;
}

body {
    background-image: url("/images/background.png");
    background-attachment: fixed;
    background-position: center;
    font-family: Trebuchet MS;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.button-group button {
    margin: 0.2em;
}
.colour-button {
    position: static;
    border: 2px solid rgb(0, 0, 0);
    color: white; /* White text */
    width: 72px;
    height: 64px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 25%;
    padding: 1%;
}

main {
    margin: 0 20%;
    /* margin-right: calc(25% + var(--chat-sidebar-width)); */
    padding: 0 5em 5em;

    background-color: #fff;
    border-radius: 5px;
}

#home-title {
    padding-top: 5%;
    text-align: center;
    font-weight: 900;
    font-size: 4vw;
}

input {
    border: none;
    border-bottom: 2px solid #1262e7;
    transition: 500ms;
}
input:focus {
    outline: none;
    border-bottom: 2px solid #6ba4ff;
}

.single-line-input {
    display: flex;
    flex-direction: row;
}

.single-line-input input {
    padding: 12px 20px;
    margin: 0.2em;
    flex-grow: 5;
    flex-basis: 0;
}

.single-line-input button {
    padding: 8px;
    margin: 0.2em;
    flex-grow: 1;
    flex-basis: 0;
}

.open-lobbies-entry {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #dfdfdf;
  margin-top: 0.2em;
  padding: 0.6em 1.2em;
  border-radius: 5px;
  border: 2px solid #232323;
}
.open-lobbies-entry * {
  margin: 0.2em;
}
.open-lobbies-entry-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}
.open-lobbies-entry-title button {
  padding: 0.1em 0.6em;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: 'Consolas', monospace;
  padding: 0 3px;
}




button {
    padding: 0.6em 1.3em;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    border: 2px solid #7c7c7c;
    font-size: 16px;
}
button:hover {
    background-color: #f0f0f0;
}

#leave-lobby img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#chat-button {
    float: right;
    /* padding: 0px; */
    background-image: url("images/chat.png");
    display: flex;
    height: 72px;
    width: 72px;
    cursor: pointer;
    border: none;
}

#lobby-player-list {
    display: flex;
    flex-direction: column;
}

.lobby-player-list-entry {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #dfdfdf;
    margin-top: 0.2em;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    border: 2px solid #232323;
}
.lobby-player-list-entry * {
  margin: 0.2em;
}
.lobby-player-list-entry-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}