html {
    height: 100%;
    --chat-sidebar-width: 10%;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.3em;
}
.colour-button {
    border: 2px solid rgb(0, 0, 0);
    width: 4rem;
    height: 4rem;
    color: white;
    text-align: center;
}
.colour-button:disabled {
    font-size: 0;
}
.colour-button:disabled::after {
    content: "✖";
    font-size: 1.5rem;
}

#home-title-container {
    display: grid;
    text-align: center;

    --title-height: max(3vw, 1.3em);
}
#home-title-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
#home-title-logo {
    height: calc(var(--title-height) * 1.2);
}
#home-title {
    font-weight: 900;
    font-size: var(--title-height);
    margin: 1rem;
}
.title-satan:hover {
    font-size: 0;
}
.title-satan:hover::after {
    content: "/səˈtæn/";
    font-size: calc(var(--title-height) * 0.9);
}
#home-title-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}


#notification-dismiss-all-button {
    position: fixed;

    bottom: 1em;
    left: 1vw;
    right: 93vw;

    word-wrap: break-word;
    width: 8vw;
    padding: 0.5em 0em;
}


#notification-container {
    position: fixed;

    bottom: 1em;
    left: 10vw;
    right: 10vw;
}
.notification {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    background-color: #efefef;
    border: 2px solid #000;

    max-width: 100%;
    overflow: hidden;
    margin-top: 0.2em;

    border-radius: 5px;
    padding: 0 1em;
}
.notification button {
    padding: 0.1em 0.5em;
    height: 70%;
    margin-left: auto;
}

.single-line-input {
    display: flex;
    flex-direction: row;
}

.single-line-input input {
    padding: 12px 20px;
    margin: 0.2em;
    flex-grow: 5;
    flex-basis: 0;
}

.single-line-input button {
    padding: 0.6em;
    margin: 0.2em;
}

#leave-lobby img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

.list-entry {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #dfdfdf;
    margin-top: 0.2em;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    border: 2px solid #232323;
}
.list-entry * {
  margin: 0.2em;
}
.list-entry-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}
.list-entry-title button {
  padding: 0.1em 0.6em;
}

.list-entry .player-list-modal-button {
    display: none;
}
.list-entry:hover .player-list-modal-button {
    display: block;
    height: 1.2em;
}


.icon-1em {
    height: 1em;
}

#game-canvas {
    width: 100%;
}