html {
    height: 100%;
    --chat-sidebar-width: 10%;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.button-group button {
    margin: 0.2em;
}
.colour-button {
    position: static;
    border: 2px solid rgb(0, 0, 0);
    width: 72px;
    height: 64px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 25%;
    padding: 1%;

    color: white; /* White text */
    text-align: center;
}
.colour-button:disabled {
    background-color: grey !important;
}

#home-title-container {
    display: grid;
    text-align: center;
}
#home-title {
    font-weight: 900;
    font-size: 4vw;
    margin: 1rem;
}
.title-satan:hover span {
    display: none;
}
.title-satan:hover::after {
    content: "/səˈtæn/";
    font-family: 'Times New Roman', Times, serif;
}


#notification-dismiss-all-button {
    position: fixed;

    bottom: 1em;
    left: 1vw;
    right: 93vw;

    word-wrap: break-word;
    width: 8vw;
    padding: 0.5em 0em;
}


#notification-container {
    position: fixed;

    bottom: 1em;
    left: 10vw;
    right: 10vw;
}
.notification {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    background-color: #efefef;
    border: 2px solid #000;

    max-width: 100%;
    overflow: hidden;
    margin-top: 0.2em;

    border-radius: 5px;
    padding: 0 1em;
}
.notification button {
    padding: 0.1em 0.5em;
    height: 70%;
    margin-left: auto;
}

.single-line-input {
    display: flex;
    flex-direction: row;
}

.single-line-input input {
    padding: 12px 20px;
    margin: 0.2em;
    flex-grow: 5;
    flex-basis: 0;
}

.single-line-input button {
    padding: 0.6em;
    margin: 0.2em;
}

#leave-lobby img {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

#chat-button {
    float: right;
    /* padding: 0px; */
    background-image: url("/images/chat.png");
    display: flex;
    height: 72px;
    width: 72px;
    cursor: pointer;
    border: none;
}

#lobby-player-list {
    display: flex;
    flex-direction: column;
}

.list-entry {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #dfdfdf;
    margin-top: 0.2em;
    padding: 0.6em 1.2em;
    border-radius: 5px;
    border: 2px solid #232323;
}
.list-entry * {
  margin: 0.2em;
}
.list-entry-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
}
.list-entry-title button {
  padding: 0.1em 0.6em;
}

.hexagon {
    position: relative;
    width: 120px;
    height: 100px;
    background: #d8d8d8;
}
  
.hexagon:after,
.hexagon:before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;  
    width: 0px;
    background: #fff;
    border-top: 50px transparent solid; 
    border-bottom: 50px transparent solid;
}

.hexagon:before {
    left: 0;
    border-right: 30px #d8d8d8 solid; 
}
.hexagon:after {
    right: 0;
    border-left: 30px #d8d8d8 solid; 
}
.icon-1em {
    height: 1em;
}

#game-canvas {
    width: 100%;
    height: 100%;
}