body {
  --theme-text: #000;
  --theme-border: #666;
  --theme-bg: #fff;
  --theme-bg-2: #eee;
  --theme-bg-3: #ddd;
  --theme-bg-4: #aaa;
  --theme-chat-1: #efefef;
  --theme-chat-2: #e2e2e2;
  --theme-game-display-1: #bb9662;
  --theme-game-display-2: #e4c18e;
}
body.dark-theme {
  --theme-text: #f8f8f8;
  --theme-border: #888;
  --theme-bg: #272727;
  --theme-bg-2: #404040;
  --theme-bg-3: #505050;
  --theme-bg-4: #808080;
  --theme-chat-1: #353535;
  --theme-chat-2: #454545;
  --theme-game-display-1: #856b47;
  --theme-game-display-2: #a68759;
}

body * { transition: 250ms background-color; }
body.dark-theme .icon-1em { filter: invert(); }


body { color: var(--theme-text); }
body main { background-color: var(--theme-bg); }


body            a       { color: #1262e7; }
body            a:hover { color: #6ba4ff; }
body.dark-theme a       { color: #71a3f4; }
body.dark-theme a:hover { color: #88b2f6; }
body.dark-theme a[target="_blank"]::after { filter: invert(); }

body.dark-theme input { color: var(--theme-text); }


body code, body pre  { background-color: var(--theme-bg-3); }
body pre             { border: 2px solid var(--theme-bg-4); }


body button           { background-color: var(--theme-bg); border: 2px solid var(--theme-border); color: var(--theme-text); }
body button:hover     { background-color: var(--theme-bg-2); }
body button:disabled  { background-color: var(--theme-bg-3); }


body .list-entry { background-color: var(--theme-bg-2); border: 2px solid var(--theme-border); }


body #lobby-chat-messages > div:nth-of-type(odd) { background-color: var(--theme-chat-1); }
body #lobby-chat-messages > div:nth-of-type(even) { background-color: var(--theme-chat-2); }
body.dark-theme #lobby-chat-messages > div p { filter: brightness(175%); }


body .resource-card, body #trade-panel {
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}
body #turn-data-display > div {
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}


body .collapsible {
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}
body .collapsible-active, body .collapsible:hover {
  background-color: var(--theme-game-display-1);
}


body .modal-content { background-color: var(--theme-bg); }