body {
  --theme-text: #000;
  --theme-border: #666;
  --theme-bg: #fff;
  --theme-bg-2: #eee;
  --theme-bg-3: #ddd;
  --theme-bg-4: #aaa;
  --theme-chat-1: #efefef;
  --theme-chat-2: #e2e2e2;
  --theme-game-display-1: #bb9662;
  --theme-game-display-2: #e4c18e;
  --theme-game-display-attention-1: #c4b878;
  --theme-game-display-attention-2: #faeb96;
  --theme-select-1: #57f;
  --theme-select-2: #a9baff;
  --theme-red-button-border: #c90d00;
  --theme-red-button-bg: #ff7167;
  --theme-red-button-hover: #ff9e97;
}
body.dark-theme {
  --theme-text: #f8f8f8;
  --theme-border: #888;
  --theme-bg: #272727;
  --theme-bg-2: #404040;
  --theme-bg-3: #505050;
  --theme-bg-4: #808080;
  --theme-chat-1: #353535;
  --theme-chat-2: #454545;
  --theme-game-display-1: #856b47;
  --theme-game-display-2: #a68759;
  --theme-game-display-attention-1: #867c42;
  --theme-game-display-attention-2: #b6a858;
  --theme-select-1: #708dff;
  --theme-select-2: #b8c6ff;
  --theme-red-button-border: #92150d;
  --theme-red-button-bg: #e4291c;
  --theme-red-button-hover: #f04c40;
}

#dark-theme-toggle { cursor: pointer; user-select: none; }

body * { transition: 250ms background-color; }
body.dark-theme .icon-1em { filter: invert(); }


body { color: var(--theme-text); }
main { background-color: var(--theme-bg); }


a                       { color: #1262e7; }
a:hover                 { color: #6ba4ff; }
body.dark-theme a       { color: #71a3f4; }
body.dark-theme a:hover { color: #88b2f6; }
body.dark-theme a[target="_blank"]::after { filter: invert(); }

body.dark-theme input { color: var(--theme-text); }


code, pre  { background-color: var(--theme-bg-3); }
pre        { border: 2px solid var(--theme-bg-4); }


button           { background-color: var(--theme-bg); border: 2px solid var(--theme-border); color: var(--theme-text); }
button:hover     { background-color: var(--theme-bg-2); }
button:disabled  { background-color: var(--theme-bg-3); }
button.red-button           { background-color: var(--theme-red-button-bg); border: 2px solid var(--theme-red-button-border); color: var(--theme-text); }
button.red-button:hover     { background-color: var(--theme-red-button-hover); }


.list-entry { background-color: var(--theme-bg-2); border: 2px solid var(--theme-border); }


#lobby-chat-messages > div:nth-of-type(odd)   { background-color: var(--theme-chat-1); }
#lobby-chat-messages > div:nth-of-type(even)  { background-color: var(--theme-chat-2); }
body.dark-theme #lobby-chat-messages > div p  { filter: brightness(175%); }


.resource-card, #trade-panel {
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}


.collapsible {
  border: 3px solid var(--theme-game-display-1);
  background-color: var(--theme-game-display-2);
}
.collapsible-active, .collapsible:hover {
  background-color: var(--theme-game-display-1);
}


.modal-content { background-color: var(--theme-bg); }